h1 {
    color: red;
}
.page {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.books div {
    width: 300px;
    height: 400px;
}
